.remove-reaction-modal {
  position: fixed;
  top: 0;
  bottom: -70px;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: white;
  font-size: 0.85rem;
  color: rgb(41, 39, 39);

  width: 100%;
  background-color: rgba(24, 21, 27, 0.897);
  z-index: 99999;
}

.remove-reaction-modal > .reacted-by {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: white;
}

.reaction-modal-header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.modal-reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;
}

.header-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .reactor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.reactor-name {
  text-transform: capitalize;
  font-size: 0.85rem;
}

.all-reactors {
  cursor: pointer;
}

.self-reaction-remove-info {
  font-size: 0.55rem;
  color: gray;
}
