.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 5px;
  background-color: rgb(62, 55, 87);
  width: 100%;
}

.branding .more {
  transform: rotate(90deg);
}

.search svg {
  cursor: pointer;
}

.brand-name {
  font-size: 0.98rem;
  font-weight: 400;
  color: white;
  font-weight: bold;
}

.branding-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: var(--fs);
  color: rgb(73, 68, 68);
  background-color: rgb(204 197 241);
}

.menu-item {
  width: 100%;
  pointer-events: none;
  font-weight: 450;
}

.menu-item div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
  font-size: 0.72rem;
}

a {
  -webkit-user-drag: none;
}

.menu-item[active="true"] {
  border-bottom: 2px solid white;
  box-shadow: 0px 5px 5px -4px gray;
}
