.branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 5px;
  background-color: var(--brand-clr-1);
  width: 100%;
}

.menu-more-button {
  position: absolute;
  top: 5px;
  width: 130px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  box-shadow: -1px 1px 2px -1px gray;
  font-size: 0.85rem;
  border-radius: 2px;
}

/*-------------SAME PARENT-------- */
.menu-more-button > a > div {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  cursor: pointer;
  /* border: 1px solid red; */
}

.menu-more-button > div {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  cursor: pointer;
  /* border: 1px solid red; */
}

/*-------------SAME PARENT END-------- */

.menu-more-button > div:hover {
  background-color: rgba(156, 151, 151, 0.205);
}

.more-svg-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.more-svg-button:hover {
  background-color: rgb(68, 66, 66);
}

.more-svg-button > svg {
  display: block;
  margin: auto;
  padding: 0;
}

.branding .more {
  transform: rotate(90deg);
}

.search svg {
  cursor: pointer;
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  color: var(--brand-clr-5);
  font-weight: bold;
}

.branding-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: var(--fs);
  color: var(--brand-clr-5);
  background-color: var(--brand-clr-1);
}

.menu-item {
  width: 100%;
  pointer-events: none;
  font-weight: bold;
}

.menu-item div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
  font-size: 0.72rem;
}

a {
  -webkit-user-drag: none;
}

.menu-item[active="true"] {
  border-bottom: 2px solid white;
  box-shadow: 0px 5px 3px -4px rgb(167, 162, 162);
}
