.queue-logger {
  display: none;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 99999;
  background-color: #b47619;
  padding: 5px;
  text-align: center;
  font-size: 0.75rem;
  color: rgb(237, 237, 243);
}

.client-logger {
  display: none;
  position: sticky;
  width: 100%;
  top: 20px;
  z-index: 999999;
  text-align: center;
  background-color: rgb(30, 121, 27);
  padding: 5px;
  font-size: 0.75rem;
  color: rgb(240, 240, 243);
}
