:root {
  --shadow: 0px 1.5px 3px -1px gray;
}

.login-container {
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1100%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(44%2c 53%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c587.542C108.687%2c586.093%2c203.181%2c515.319%2c285.725%2c444.597C360.545%2c380.493%2c395.711%2c288.212%2c447.321%2c204.285C507.257%2c106.818%2c611.129%2c26.212%2c613.351%2c-88.187C615.636%2c-205.846%2c538.848%2c-311.278%2c459.014%2c-397.738C380.782%2c-482.463%2c273.563%2c-525.323%2c167.631%2c-570.899C47.656%2c-622.517%2c-77.895%2c-727.528%2c-200.044%2c-681.288C-323.579%2c-634.524%2c-344.684%2c-469.319%2c-407.565%2c-353.157C-456.512%2c-262.736%2c-501.822%2c-175.373%2c-527.765%2c-75.881C-556.713%2c35.138%2c-614.179%2c154.36%2c-567.192%2c259.028C-520.185%2c363.74%2c-389.986%2c394.754%2c-290.664%2c452.281C-196.279%2c506.948%2c-109.064%2c588.996%2c0%2c587.542' fill='%231d2320'%3e%3c/path%3e%3cpath d='M1440 1097.333C1536.871 1077.5720000000001 1603.375 996.992 1688.2069999999999 946.2180000000001 1776.628 893.2950000000001 1894.555 879.908 1949.216 792.5509999999999 2005.396 702.765 1980.038 588.505 1978.295 482.605 1976.299 361.28999999999996 2007.8690000000001 227.628 1938.283 128.235 1867.52 27.162000000000035 1738.2559999999999-29.364000000000033 1615.064-36.21199999999999 1500.293-42.591999999999985 1405.309 40.803999999999974 1302.85 92.911 1219.559 135.26999999999998 1146.842 185.591 1071.161 240.399 971.246 312.757 805.558 344.15 787.434 466.175 769.336 588.023 933.848 656.122 993.399 763.956 1046.576 860.249 1028.745 996.9590000000001 1116.895 1062.761 1205.49 1128.895 1331.675 1119.4299999999998 1440 1097.333' fill='%233b4842'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1100'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.login-header {
  padding: 5px;
  color: aliceblue;
  text-align: center;
  box-shadow: var(--shadow);
  background-color: rgb(83, 66, 99);
}

.login-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 20vh);
  /* border: 1px solid red; */
}

h5 {
  padding: 10px;
  font-size: 1.2rem;
  color: rgb(68, 63, 59);
}

.login-branding {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--brand-clr-5);
  margin-bottom: 30px;
}

.login-branding > div {
  font-size: 2.5rem;
  font-weight: bold;
}
.login-form {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

.login-form-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.login-form-input label {
  font-size: 0.75rem;
  color: rgb(32, 31, 31);
}

#login-button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  width: 100%;
  color: var(--brand-clr-1);
  background-color: var(--brand-clr-5);
  cursor: pointer;
  margin-top: 20px;
}

input::placeholder {
  padding: 3px;
  font-size: 0.75rem;
}

#username,
#password {
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 300px;
  padding: 10px;
  box-shadow: var(--shadow);
}

#username:focus,
#password:focus {
  outline: 1px solid blue;
}
