.remove-reaction-modal {
  position: absolute;
  top: 0;
  bottom: -70px;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: white;

  width: 100%;
  background-color: rgba(24, 21, 27, 0.897);
  z-index: 99999;
}

.remove-reaction-modal > .reacted-by {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: white;
}

.reaction-modal-header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.header-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reactor-info {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.all-reactors {
  cursor: pointer;
}

.self-reaction-remove-info {
  font-size: 0.65rem;
}
