::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #6d1212;
} */

.message-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-md);
  background-color: #407a5c;
  z-index: 2;
}

.conversation-header {
  height: 100vh;
}

.direct-message-container {
  height: calc(100vh);
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.back-button,
.more {
  padding: 10px;
  cursor: pointer;
}

.user-name {
  font-size: var(--fs);
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.message-input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: var(--padding-sm);
  background-color: transparent;
  height: 40px;
  z-index: 2;
}

.message-input {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  padding: var(--padding-md);
  color: rgb(80, 74, 74);
  outline: none;
  background-color: rgb(255, 255, 255);
}

.message-input::placeholder {
  font-size: 0.85rem;
  color: gray;
}

.message-send-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #407a5c;
  box-shadow: 0px 1px 2px 0.1px rgba(116, 114, 114, 0.75);
  cursor: pointer;
  user-select: none;
}

.message-send-button svg {
  display: inline-block;
  padding-left: 3px;
}

/* -------------MESSAGE VIEW--------------- */

.message-view-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding: 17px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  overflow-y: scroll;
}

/* PREVENT TEXT SELECTION */
.from .self {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*-------FROM-----*/

.from {
  position: relative;
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
  padding-top: 7px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.75rem;
  border-radius: 5px;
  word-break: break-word;
  background-color: white;
  box-shadow: -1px 2px 5px -2px grey;
}

.from::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 12px solid white;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  top: 0;
  left: -10px;
}

.from .stamp-ticks-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.from .stamp-ticks-container .stamp {
  font-size: 0.65rem;
  pointer-events: none;
}

/*------SELF-----*/

.self {
  position: relative;
  align-self: flex-end;
  min-width: 100px;
  max-width: 250px;
  color: var(--brand-clr-1);
  padding-top: 7px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2;
  font-size: 0.75rem;
  border-radius: 5px;
  word-break: break-word;
  background-color: #d9fdd3;
  box-shadow: 1px 2px 5px -2px grey;
}

.self::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 12px solid #d9fdd3;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  top: 0px;
  right: -10px;
}

.self .stamp-ticks-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  pointer-events: none;
}

.self .stamp-ticks-container .stamp {
  color: var(--brand-clr-1);
  font-size: 0.6rem;
  width: 30px;
}

.date-bookmark {
  font-size: 0.75rem;
  text-align: center;
  border-radius: 15px;
  width: 100px;
  padding: 5px;
  background-color: lightgray;
  color: gray;
  align-self: center;
}

/* ------- Emoji Container ------- */

.self .emoji-container {
  position: absolute;
  top: -32px;
  left: -50px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 10px -2px gray;
  border-radius: 15px;
  z-index: 2;
}

.from .emoji-container {
  position: absolute;
  top: -32px;
  right: -50px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 10px -2px gray;
  border-radius: 15px;
  z-index: 2;
}

.emoji-container > div {
  border-radius: 50%;
  background-color: rgba(199, 191, 191, 0.233);
  padding: 2px;
  cursor: pointer;
}
.chat {
  pointer-events: none;
}

/* ------- Reactions Container ------- */

.self .reactions-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 2px;

  right: 0;
  z-index: 1;
}

.from .reactions-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  left: 0;
  z-index: 1;
}

.reactions-container {
  border-radius: 50%;
  background-color: white;
  padding-bottom: 2px;
  padding-top: 1.7px;
  padding-left: 2px;
  padding-right: 2px;
  width: fit-content;
  height: 18px;
  box-shadow: 0px 2px 5px -3px rgb(112 107 107);
  cursor: pointer;
}

.reactions-container .reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 0.67rem;
  pointer-events: none;
}

.reaction-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: gray;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}

[data-reaction="true"] {
  margin-bottom: 22px;
}

/* --------------- end---------------- */
