::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #6d1212;
} */

.message-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-md);
  background-color: #407a5c;
  z-index: 2;
}

.conversation-header {
  height: 100vh;
}

.direct-message-container {
  height: calc(100vh);
  background-color: #e7f0ab;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236a6b62' fill-opacity='0.15'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.back-button,
.more {
  padding: 10px;
  cursor: pointer;
}

.user-name {
  font-size: var(--fs);
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.message-input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: var(--padding-sm);
  background-color: transparent;
  height: 40px;
  z-index: 2;
}

.message-input {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  padding: var(--padding-md);
  color: rgb(80, 74, 74);
  outline: none;
  background-color: rgb(255, 255, 255);
}

.message-input::placeholder {
  font-size: 0.85rem;
  color: gray;
}

.message-send-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #407a5c;
  box-shadow: 0px 1px 2px 0.1px rgba(116, 114, 114, 0.75);
  cursor: pointer;
  user-select: none;
}

.message-send-button svg {
  display: inline-block;
  padding-left: 3px;
}

/* -------------MESSAGE VIEW--------------- */

.message-view-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding: 17px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  overflow-y: scroll;
}

/* PREVENT TEXT SELECTION */
.from .self {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*-------FROM-----*/

.from {
  position: relative;
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
  padding-top: 7px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.75rem;
  border-radius: 5px;
  word-break: break-word;
  background-color: white;
  box-shadow: -1px 2px 5px -2px grey;
}

.from::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 12px solid white;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  top: 0;
  left: -10px;
}

.from .stamp-ticks-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.from .stamp-ticks-container .stamp {
  font-size: 0.65rem;
  pointer-events: none;
}

/*------SELF-----*/

.self {
  position: relative;
  align-self: flex-end;
  min-width: 100px;
  max-width: 250px;
  color: var(--brand-clr-1);
  padding-top: 7px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2;
  font-size: 0.75rem;
  border-radius: 5px;
  word-break: break-word;
  background-color: #d9fdd3;
  box-shadow: 1px 2px 5px -2px grey;
}

.self::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 12px solid #d9fdd3;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  top: 0px;
  right: -10px;
}

.self .stamp-ticks-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  pointer-events: none;
}

.self .stamp-ticks-container .stamp {
  color: var(--brand-clr-1);
  font-size: 0.6rem;
  width: 30px;
}

.date-bookmark {
  font-size: 0.75rem;
  text-align: center;
  border-radius: 15px;
  width: 100px;
  padding: 5px;
  background-color: lightgray;
  color: gray;
  align-self: center;
}

/* ------- Emoji Container ------- */

.self .emoji-container {
  position: absolute;
  top: -32px;
  left: -50px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 10px -2px gray;
  border-radius: 15px;
  z-index: 2;
}

.from .emoji-container {
  position: absolute;
  top: -32px;
  right: -50px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 10px -2px gray;
  border-radius: 15px;
  z-index: 2;
}

.emoji-container > div {
  border-radius: 50%;
  background-color: rgba(199, 191, 191, 0.233);
  padding: 2px;
  cursor: pointer;
}
.chat {
  pointer-events: none;
}

/* ------- Reactions Container ------- */

.self .reactions-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 2px;

  right: 0;
  z-index: 1;
}

.from .reactions-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  left: 0;
  z-index: 1;
}

.reactions-container {
  border-radius: 50%;
  background-color: white;
  padding-bottom: 2px;
  padding-top: 1.7px;
  padding-left: 2px;
  padding-right: 2px;
  width: fit-content;
  height: 18px;
  box-shadow: 0px 2px 5px -3px rgb(112 107 107);
  cursor: pointer;
}

.reactions-container .reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 0.67rem;
  pointer-events: none;
}

.reaction-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: gray;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}

[data-reaction="true"] {
  margin-bottom: 22px;
}

/* --------------- end---------------- */
