@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

:root {
  --fs: 0.88rem;
  --fw: normal;

  --padding-sm: 0.3rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;

  --brand-clr-1: #2c3531;
  --brand-clr-2: #116466;
  --brand-clr-3: #d9b086;
  --brand-clr-4: #ffcb9a;
  --brand-clr-5: #d1e8e2;

  --text-clr: white;

  --border-sm: 1px;
  --border-md: 2px;
  --border-lg: 3px;
  --border-clr: #ccc;

  --font-primary: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-primary);
}

svg {
  display: block;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
